body {
    background-color: rgb(201, 114, 114);
}

p {
    margin: 0px 0px 0px 0px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

button {
    font-size: 20px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 10x;
    border-radius: 0px;
    background-color: red;
    color: white;
    border: none;
}

#playerContainer {
    padding: 10px;
    border: none;
    top: 4%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(65, 13, 15);
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10em;
}

.playerBox {
    text-align: center;
}

#container {
    padding: 25px;
    border: none;
    position: absolute;
    max-height: 62vh;
    height: auto;
    max-width: 67vh;
    width: auto;
    transform: translate(-50%, -50%);
    top: 43%;
    left: 50%;
    background-color: rgb(65, 13, 15);
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
    border-radius: 8px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

#actionContainer {
    padding: 25px;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 87%;
    left: 50%;
    background-color: rgb(65, 13, 15);
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}

#claim {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#claimButton {
    width: 100%;
    align-self: center;
    background-color: green;
}

#claimButton:hover {
    transition: all 0.5s;
    background-color: rgb(14, 194, 14);
}

#claimInputs {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.amountBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amountBox img {
    width: 2.5em;
}

.amountBox h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.25em;
}

#dieFaceBox {
    gap: 7px;
}


.die {
    max-width: 6.2vw;
    width: 6.2vw;
    max-height: 13vh;
    height: auto;
}

#terminal {
    position: absolute;
    top: 9.3%;
    left: 2.5%;
    height: 67vh;
    width: 45vh;
    border: 2px solid white;
    border-radius: 0.3em;
    padding: 10px 10px;
    display: inline-block;
    background-color: black;
    overflow: auto;
    z-index: -1;
}

.glow {
    animation: glow 1s infinite;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px -10px white;
    }
    50% {
      box-shadow: 0 0 10px 10px white;
    }
    100% {
        box-shadow: 0px 0px 0px 0px;
    }
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}