body {
	background: linear-gradient(60deg, 
    #ee5252, 
    #ffee58, 
    #4cd523, 
    #2ec1db, 
    #c250f7, 
    #f75096);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite alternate;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

.titlebox{
    border: none;
    color: white;
    display: block;
    background-color: rgb(65, 13, 15);;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(25,25,25,0.50);
    margin-left: 2em;
    margin-right: 2em;
}

.inputcontainer {
    text-align: center;
    border: none;
}

.player1{
    width: 50%;
    height: 35px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

.player2{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

.player3{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

.player4{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-right: 2px;
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

.start {
    padding: 25;
    text-align: center;
    background-color: rgb(65, 13, 15);;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    width: 100%;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
    box-shadow: 0 15px 35px rgba(25,25,25,0.50);
}

.rules {
    padding-left: 2em;
    color: white;
    padding-right: 100px;
    text-align: center;
    background-color: rgb(65, 13, 15);;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
    box-shadow: 0 15px 35px rgba(25,25,25,0.50);
}

button {
    text-align: center;
    color: white;
    cursor: pointer;
}

.buttons {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}

.buttons :hover{
   background-color: firebrick;
}

p {
    border: none;
    background-color: rgb(65, 13, 15);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(25,25,25,0.50);
    margin-top: 11em;
    margin-left: 2em;
    margin-right: 2em;
}