body{
    background-color: rgb(201, 114, 114);
}
.titlebox{
    padding: 25;
    border: none;
    display: block;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
}

.inputcontainer {
    text-align: center;
    border: none;
}

.player1{
    width: 50%;
    height: 35px;
    text-align: center;
}

.player2{
    width: 50%;
    height: 35px;
    text-align: center;
}

.player3{
    width: 50%;
    height: 35px;
    text-align: center;
}

.player4{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-right: 2px;
}

.start {
    padding: 25;
    display: flex;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    width: 100%;
}

.rules {
    padding: 25;
    display: flex;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    width: 100%;
}

button {
    text-align: center;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}