body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.titlebox{
    border: none;
    display: block;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
    margin-left: 2em;
    margin-right: 2em;
}

.inputcontainer {
    text-align: center;
    border: none;
}

.player1{
    width: 50%;
    height: 35px;
    text-align: center;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s;
}

.player2{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s;
}

.player3{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s;
}

.player4{
    width: 50%;
    height: 35px;
    text-align: center;
    margin-right: 2px;
    margin-top: 50px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s;
}

.start {
    padding: 25;
    text-align: center;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    width: 100%;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
}

.rules {
    padding: 25;
    text-align: center;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
    transition: all 0.5s;
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
}

button {
    text-align: center;
}

.buttons {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    
}

.buttons :hover{
   background-color: whitesmoke;
}

p {
    border: none;
    background-color: #F58A8A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(50,50,50,0.50);
    margin-top: 300px;
    margin-left: 2em;
    margin-right: 2em;
}